.dental {
    position: relative;
    width: 233px;
    height: 461px;

    .teath {
        position: absolute;
        height: 15px;
        width: 15px;
        background: transparent;
        border-radius: 7.5px;
        vertical-align: middle;
    }

    .teath-one {
        top: 166px;
        left: 29px;
    }

    .teath-two {
        top: 139px;
        left: 33px;
    }

    .teath-three {
        top: 113px;
        left: 39px;
    }

    .teath-four {
        top: 89px;
        left: 48px;
    }

    .teath-five {
        top: 72px;
        left: 58px;
    }

    .teath-six {
        top: 61px;
        left: 70px;
    }

    .teath-seven {
        top: 53px;
        left: 84px;
    }

    .teath-eight {
        top: 50px;
        left: 101px;
    }

    .teath-nine {
        top: 50px;
        left: 118px;
    }

    .teath-ten {
        top: 53px;
        left: 135px;
    }

    .teath-eleven {
        top: 62px;
        left: 147px;
    }

    .teath-twele {
        top: 73px;
        left: 157px;
    }

    .teath-thirteen {
        top: 89px;
        left: 166px;
    }

    .teath-fourteen {
        top: 113px;
        left: 175px;
    }

    .teath-fifteen {
        top: 139px;
        left: 181px;
    }

    .teath-sixteen {
        top: 166px;
        left: 184px;
    }

    .teath-seventeen {
        top: 261px;
        left: 184px;
    }

    .teath-eighteen {
        top: 288px;
        left: 181px;
    }

    .teath-nithteen {
        top: 315px;
        left: 175px;
    }

    .teath-twenty {
        top: 338px;
        left: 166px;
    }

    .teath-twenty-one {
        top: 355px;
        left: 156px;
    }

    .teath-twenty-two {
        top: 368px;
        left: 143px;
    }

    .teath-twenty-three {
        top: 373px;
        left: 128px;
    }

    .teath-twenty-four {
        top: 377px;
        left: 113.5px;
    }

    .teath-twenty-five {
        top: 377px;
        left: 99px;
    }

    .teath-twenty-six {
        top: 375px;
        left: 84px;
    }

    .teath-twenty-seven {
        top: 368px;
        left: 70px;
    }

    .teath-twenty-eight {
        top: 356px;
        left: 57px;
    }

    .teath-twenty-nine {
        top: 338px;
        left: 48px;
    }

    .teath-thirty {
        top: 315px;
        left: 40px;
    }

    .teath-thirty-one {
        top: 288px;
        left: 33px;
    }

    .teath-thirty-two {
        top: 262px;
        left: 29px;
    }
}
